
html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-image: linear-gradient(260deg, #DEAEDC, #fcaf5d);

}

.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid greenyellow;
  background-color: #FF6A00;
  flex-direction: column;
  font-size: 2vh;

}

figcaption  {
  display: flex;  
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Inter', sans-serif;
}

.profile-photo {
  border-radius: 50%;
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  background:#FF6A00;
}


.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  background-color: violet;

}

.flex-nav li {
  flex: 3;
  font-size: 2vh;
}

.flex-nav .social {
  flex:1;
}

@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }
  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex: 1 1  15%;
   }
}

@media only screen and (max-width: 768px) {
.flex-nav li {
  flex-basis: 100%;
}
}

body {
  margin: 0;
  
}

main {
  margin: 5vw;
  font-size: 3vh;
}